<% if @model == 'user' %>
    <h3>User search for '<%= @content %>'</h3>
    <%= render 'users/index', users: @datas %>
<% else @model == 'books' %>
    <h3>Book search for '<%= @content %>'</h3>
    <%= render 'books/index', books: @datas %>
<% end %>