<div class="row">
  <!--検索機能-->
  <%= render 'search/search_for' %>
  <!--検索機能-->
  <div class="col-xs-3">
    <%= render 'users/profile', user: current_user %>
    <!--メモ右側の指定に注意。そこを間違えるとエラーが発生して表示されない -->
    <%= render 'books/newform', book: @book, user: @user%>
  </div>
  <div class="col-xs-9">
  <h2>Users</h2>
    <!--users一覧 -->
    <%= render 'index', users: @users %>
    <!--users一覧 -->
  </div>
</div>



