<% @user.followers.each do |user| %>
    <table class="table">
            <thead>
                <tr>
                    <th>image</th>
                    <th>name</th>
                    <th>followers</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= attachment_image_tag user, :profile_image, size: "50x50", fallback: "no-image-mini.jpg" %></td>
                    <td><%= user.name %></td>
                    <td><%= @user.followings.count %></td>
                    <td><%=link_to 'show', user_path(user) %></td>
                </tr>
            </tbody>
    </table>
<% end %>